__pycache__/
.mypy_cache/
build/
*.egg-info/
dist/

configs/
logs/
profiles/
venv/

.vscode
.env

*.prof

generate_and_install_profiles.sh
generate_rgb_curves.sh
install_profiles.sh
install_rgb_curves.sh
